* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Hind Madurai", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav-list {
	display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
	padding: 0 20px;
	text-decoration: none;
	line-height: 50px;
	transition: 0.3s;
}