* {
  box-sizing: border-box;
}
body {
	font-family: "Raleway", sans-serif;
}

h1 {
	color: #ec9192;
	border-bottom: 1px solid white;
}

p {
	font-family: "Hind Madurai", sans-serif;
	color: #7d4f50;
	font-size: 20 px;
}